<div>
  <button class="drawer" id="toggleOptions" data-container="optionsContainer" data-text="Plot Options">
    Plot Options
  </button>
  <div class="drawerContents" id="optionsContainer">
    <form method="get" action="{{ request.path }}">
      <div id="y-axis-container" class="form-grid">
        {% for field in form %}
        {% if field.name|slice:":2" == "y_" %}
        <div>
          <label for="{{ field.id_for_label }}">
            {{ field.name|slice:"2:" }}
          </label>
          {% include "components/custom_select.html" with field=field %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <div id="x-axis-container" class="form-grid">
        {% for field in form %}
        {% if field.name|slice:":2" == "x_" %}
        <div>
          <label for="{{ field.id_for_label }}">
            {{ field.name|slice:"2:" }}
          </label>
          {% include "components/custom_select.html" with field=field %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <div class="option-set-label">
        <label>
          Filters
        </label>
      </div>
      <div id="filter-axis-container" class="form-grid">
        {% for field in form %}
        {% if field.name|slice:":1" == "_" %}
        {% if field.widget_type == "checkbox" %}
        <div>
          <label for="{{ field.id_for_label }}">
            spiking networks
          </label>
          <div class="checkbox-option">
            <label class="checkbox-box">
              {{ field }}
              <span>{{ field.label }}</span>
            </label>
          </div>
        </div>
        {% else %}
        <div>
          <label for="{{ field.id_for_label }}">
            {{ field.label }}
          </label>
          {% include "components/custom_select.html" with field=field %}
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
      </div>
      <div class="option-set-label">
        <label>
          Legend
        </label>
      </div>
      <div id="filter-axis-container" class="form-grid">
        {% for field in form %}
        {% if field.name|slice:":6" == "legend" %}
        <div>
          <label for="{{ field.id_for_label }}">
            {{ field.label }}
          </label>
          {% include "components/custom_select.html" with field=field %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </form>
  </div>
</div>
