{% load widget_tweaks %}
{% load custom_filters %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Model Results Dashboard</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/plot.css' %}">
  <style>
  </style>
</head>

<body class="min-h-screen">

  <div id="loading-overlay">
    <div class="spinner"></div>
  </div>

  <header>
    <div class="container">
      <h1>Heedless Backbones</h1>
    </div>
  </header>

  <main class="container">

    <div class="plot-container">
      {{ plot|safe }}
    </div>

    <div>
      <button class="drawer" id="toggleOptions">
        Plot Options
      </button>
      <div class="drawerContents" id="optionsContainer">
        <form method="get">
          <div id="y-axis-container" class="form-grid">
            {% for field in form %}
            {% if field.name|slice:":2" == "y_" %}
            <div>
              <label for="{{ field.id_for_label }}">
                {{ field.name|slice:"2:" }}
              </label>
              <div class="custom-select-container" data-field-name="{{ field.name }}">
                <div class="custom-select-header">
                  <span class="custom-select-selected">Select an option</span>
                  <div class="custom-select-arrow"></div>
                </div>
                <div class="custom-select-options">
                  {% for choice in field.field.choices %}
                  <div class="custom-select-option" data-value="{{ choice.0 }}">{{ choice.1 }}</div>
                  {% endfor %}
                </div>
                <input type="hidden" name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}">
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
          <div id="x-axis-container" class="form-grid">
            {% for field in form %}
            {% if field.name|slice:":2" == "x_" %}
            <div>
              <label for="{{ field.id_for_label }}">
                {{ field.name|slice:"2:" }}
              </label>
              <div class="custom-select-container" data-field-name="{{ field.name }}">
                <div class="custom-select-header">
                  <span class="custom-select-selected">Select an option</span>
                  <div class="custom-select-arrow"></div>
                </div>
                <div class="custom-select-options">
                  {% for choice in field.field.choices %}
                  <div class="custom-select-option" data-value="{{ choice.0 }}">{{ choice.1 }}</div>
                  {% endfor %}
                </div>
                <input type="hidden" name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}">
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
          <div class="option-set-label">
            <label>
              Filters
            </label>
          </div>
          <div id="filter-axis-container" class="form-grid">
            {% for field in form %}
            {% if field.name|slice:":1" == "_" %}
            <div>
              <label for="{{ field.id_for_label }}">
                {{ field.label }}
              </label>
              <div class="custom-select-container" data-field-name="{{ field.name }}">
                <div class="custom-select-header">
                  <span class="custom-select-selected">Select an option</span>
                  <div class="custom-select-arrow"></div>
                </div>
                <div class="custom-select-options">
                  {% for choice in field.field.choices %}
                  <div class="custom-select-option" data-value="{{ choice.0 }}">{{ choice.1 }}</div>
                  {% endfor %}
                </div>
                <input type="hidden" name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}">
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </form>
      </div>
    </div>
    {% if table_data and table_headers %}
    <div class="table-container">
      <table id="sortableTable">
        <thead>
          <tr>
            {% for header in table_headers %}
            <th>{{ header }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in table_data %}
          <tr>
            {% for header in table_headers %}
            <td>{{ row|get_item:header }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </main>

  <footer>
    <div class="container">
      <p>2024 Model Results Dashboard.</p>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
  <script>
    let dataTable;

    function initializeDataTable() {
      if (dataTable) {
        dataTable.destroy();
      }
      dataTable = $('#sortableTable').DataTable({
        "paging": false,
        "info": false,
        "searching": true,
        "language": {
          "search": "Filter:"
        },
      });
    }

    document.addEventListener('DOMContentLoaded', () => {
      const customSelects = document.querySelectorAll('.custom-select-container');
      const form = document.querySelector('form');
      const loadingOverlay = document.getElementById('loading-overlay');
      const yAxisContainer = document.getElementById('y-axis-container');
      const xAxisContainer = document.getElementById('x-axis-container');

      const toggleButton = document.getElementById('toggleOptions');
      const optionsContainer = document.getElementById('optionsContainer');

      function openOptionsContainer() {
        optionsContainer.classList.add('show');
        toggleButton.classList.add('active');
        toggleButton.style.borderBottom = 'none';
        toggleButton.textContent = 'Hide Options';
        localStorage.setItem('optionsContainerOpen', 'true');
      }

      function closeOptionsContainer() {
        optionsContainer.classList.remove('show');
        toggleButton.classList.remove('active');
        toggleButton.style.borderBottom = '1px solid #000000';
        toggleButton.textContent = 'Plot Options';
        localStorage.setItem('optionsContainerOpen', 'false');
      }

      if (localStorage.getItem('optionsContainerOpen') === 'true') {
        openOptionsContainer();
      } else {
        closeOptionsContainer();
      }

      toggleButton.addEventListener('click', () => {
        if (optionsContainer.classList.contains('show')) {
          closeOptionsContainer();
        } else {
          openOptionsContainer();
        }
      });

      function initializeSelect(select) {
        const header = select.querySelector('.custom-select-header');
        const options = select.querySelector('.custom-select-options');
        const selectedSpan = select.querySelector('.custom-select-selected');
        const hiddenInput = select.querySelector('input[type="hidden"]');

        if (hiddenInput.value) {
          const selectedOption = options.querySelector(`[data-value="${hiddenInput.value}"]`);
          if (selectedOption) {
            selectedSpan.textContent = selectedOption.textContent;
            selectedOption.classList.add('selected');
          }
        }

        header.addEventListener('click', () => {
          select.classList.toggle('open');
          options.style.display = select.classList.contains('open') ? 'block' : 'none';
        });

        options.querySelectorAll('.custom-select-option').forEach(option => {
          option.addEventListener('click', () => {
            hiddenInput.value = option.dataset.value;
            selectedSpan.textContent = option.textContent;
            options.querySelectorAll('.custom-select-option').forEach(opt => opt.classList.toggle('selected', opt === option));
            select.classList.remove('open');
            options.style.display = 'none';
            loadingOverlay.style.display = 'flex';
            localStorage.setItem('optionsContainerOpen', 'true');
            form.submit();
          });
        });
      }

      customSelects.forEach(initializeSelect);

      document.addEventListener('click', (event) => {
        if (!event.target.closest('.custom-select-container')) {
          customSelects.forEach(select => {
            select.classList.remove('open');
            select.querySelector('.custom-select-options').style.display = 'none';
          });
        }
      });

      // Set the grid template columns based on the number of y-axis options
      const yOptions = yAxisContainer.children.length;
      const xOptions = xAxisContainer.children.length;
      const numOptions = Math.max(yOptions, xOptions);
      yAxisContainer.style.gridTemplateColumns = `repeat(${numOptions}, 1fr)`;
      xAxisContainer.style.gridTemplateColumns = `repeat(${numOptions}, 1fr)`;

      initializeDataTable();

    });
  </script>
</body>

</html>
