{% extends 'base.html' %}

{% load widget_tweaks %}
{% load custom_filters %}
{% load table_tag %}

{% block content %}


<main class="container">

  <header class="title-bar">
    <h1>{{ downstream_head.name }}</h1>
    <div class="links">
      <a href="{{ downstream_head.paper }}">Paper</a>
      |
      <a href="{{ downstream_head.github }}">GitHub</a>
    </div>
  </header>

  <div class="plot-container">
    {{ plot|safe }}
  </div>

  {% include "components/plot_options.html" %}

  {% if table %}
  {% render_table "sortableTable" table %}
  {% endif %}

  {% if detection_tables %}
  <button class="drawer" id="toggleDetection">
    Object Detection Results
  </button>
  <div class="table-container drawerContents" id="detectionTableContainer">
    {% for detection_table in detection_tables %}
    <h3>{{ detection_table.name }}</h3>
    {% render_table "detectionTable" detection_table %}
    {% endfor %}
  </div>
  {% endif %}

  {% if instance_tables %}
  <button class="drawer" id="toggleInstance">
    Instance Segmentation Results
  </button>
  <div class="table-container drawerContents" id="instanceTableContainer">
    {% for instance_table in instance_tables %}
    <h3>{{ instance_table.name }}</h3>
    {% render_table "instanceTable" instance_table %}
    {% endfor %}
  </div>
  {% endif %}

</main>

{% endblock %}
