{% load widget_tweaks %}
{% load custom_filters %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Model Results Dashboard</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/plot.css' %}">
  <style>
  </style>
</head>

<body class="min-h-screen">

  <div id="loading-overlay">
    <div class="spinner"></div>
  </div>

  <header>
    <div class="container">
      <h1>{{ family.name }} Family</h1>
      <h2>
        <a href="{{ family.paper }}">Paper</a>
        |
        <a href="{{ family.github }}">GitHub</a>
      </h2>
    </div>
  </header>

  <main class="container">

    <div class="plot-container">
      {{ plot|safe }}
    </div>

    <div>
      <button class="drawer" id="toggleOptions">
        Plot Options
      </button>
      <div class="drawerContents" id="optionsContainer">
        <form method="get" action="{{ request.path }}">
          <div id="y-axis-container" class="form-grid">
            {% for field in form %}
            {% if field.name|slice:":2" == "y_" %}
            <div>
              <label for="{{ field.id_for_label }}">
                {{ field.name|slice:"2:" }}
              </label>
              <div class="custom-select-container" data-field-name="{{ field.name }}">
                <div class="custom-select-header">
                  <span class="custom-select-selected">Select an option</span>
                  <div class="custom-select-arrow"></div>
                </div>
                <div class="custom-select-options">
                  {% for choice in field.field.choices %}
                  <div class="custom-select-option" data-value="{{ choice.0 }}">{{ choice.1 }}</div>
                  {% endfor %}
                </div>
                <input type="hidden" name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}">
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
          <div id="x-axis-container" class="form-grid">
            {% for field in form %}
            {% if field.name|slice:":2" == "x_" %}
            <div>
              <label for="{{ field.id_for_label }}">
                {{ field.name|slice:"2:" }}
              </label>
              <div class="custom-select-container" data-field-name="{{ field.name }}">
                <div class="custom-select-header">
                  <span class="custom-select-selected">Select an option</span>
                  <div class="custom-select-arrow"></div>
                </div>
                <div class="custom-select-options">
                  {% for choice in field.field.choices %}
                  <div class="custom-select-option" data-value="{{ choice.0 }}">{{ choice.1 }}</div>
                  {% endfor %}
                </div>
                <input type="hidden" name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}">
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
          <div class="option-set-label">
            <label>
              Filters
            </label>
          </div>
          <div id="filter-axis-container" class="form-grid">
            {% for field in form %}
            {% if field.name|slice:":1" == "_" %}
            <div>
              <label for="{{ field.id_for_label }}">
                {{ field.label }}
              </label>
              <div class="custom-select-container" data-field-name="{{ field.name }}">
                <div class="custom-select-header">
                  <span class="custom-select-selected">Select an option</span>
                  <div class="custom-select-arrow"></div>
                </div>
                <div class="custom-select-options">
                  {% for choice in field.field.choices %}
                  <div class="custom-select-option" data-value="{{ choice.0 }}">{{ choice.1 }}</div>
                  {% endfor %}
                </div>
                <input type="hidden" name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}">
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </form>
      </div>
    </div>

    {% if table_data and table_headers %}
    <div class="table-container">
      <table id="sortableTable">
        <thead>
          <tr>
            {% for header in table_headers %}
            <th>{{ header }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in table_data %}
          <tr>
            {% for header in table_headers %}
            <td>{{ row|get_item:header }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}

    {% if classification_data and classification_headers %}
    <button class="drawer" id="toggleClassification">
      Classification Results
    </button>
    <div class="table-container drawerContents" id="classificationTableContainer">
      <table id="classificationTable">
        <thead>
          <tr>
            {% for header in classification_headers %}
            <th>{{ header }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in classification_data %}
          <tr>
            {% for header in classification_headers %}
            <td>
              {% with source_header=header|add:"_source" %}
              {% if row|get_item:source_header %}
              <a href="{{ row|get_item:source_header }}" target="_blank">{{ row|get_item:header }}</a>
              {% elif header == 'backbone' %}
              <a href="{{ row|get_item:'_source' }}" target="_blank">{{ row|get_item:header }}</a>
              {% else %}
              {{ row|get_item:header }}
              {% endif %}
              {% endwith %}
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}

    {% if detection_data %}
    <button class="drawer" id="toggleDetection">
      Object Detection Results
    </button>
    <div class="table-container drawerContents" id="detectionTableContainer">
      {% for dataset in detection_data %}
      <h3>{{ dataset.name }}</h3>
      <table class="detectionTable">
        <thead>
          <tr>
            {% for header in dataset.headers %}
            <th>{{ header }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in dataset.data %}
          <tr>
            {% for header in dataset.headers %}
            <td>
              {% if header|slice:":2" == "mA" %}
              <a href="{{ row|get_item:'result_source' }}" target="_blank">{{ row|get_item:header }}</a>
              {% elif header|slice:":2" == "AP" %}
              <a href="{{ row|get_item:'result_source' }}" target="_blank">{{ row|get_item:header }}</a>
              {% elif header == 'backbone' %}
              <a href="{{ row|get_item:'_source' }}" target="_blank">{{ row|get_item:header }}</a>
              {% elif header == 'head' %}
              <a href="{% url 'downstream_head' row|get_item:header %}" target="_blank">{{ row|get_item:header }}</a>
              {% else %}
              {{ row|get_item:header }}
              {% endif %}
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endfor %}
    </div>
    {% endif %}

    {% if instance_data %}
    <button class="drawer" id="toggleInstance">
      Instance Segmentation Results
    </button>
    <div class="table-container drawerContents" id="instanceTableContainer">
      {% for dataset in instance_data %}
      <h3>{{ dataset.name }}</h3>
      <table class="instanceTable">
        <thead>
          <tr>
            {% for header in dataset.headers %}
            <th>{{ header }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in dataset.data %}
          <tr>
            {% for header in dataset.headers %}
            <td>
              {% if header|slice:":2" == "mA" %}
              <a href="{{ row|get_item:'result_source' }}" target="_blank">{{ row|get_item:header }}</a>
              {% elif header|slice:":2" == "AP" %}
              <a href="{{ row|get_item:'result_source' }}" target="_blank">{{ row|get_item:header }}</a>
              {% elif header == 'backbone' %}
              <a href="{{ row|get_item:'_source' }}" target="_blank">{{ row|get_item:header }}</a>
              {% elif header == 'head' %}
              <a href="{% url 'downstream_head' row|get_item:header %}" target="_blank">{{ row|get_item:header }}</a>
              {% else %}
              {{ row|get_item:header }}
              {% endif %}
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endfor %}
    </div>
    {% endif %}
  </main>

  <footer>
    <div class="container">
      <p>2024 Model Results Dashboard.</p>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
  <script>
    let dataTable;
    let classificationDataTable;
    let detectionDataTable;
    let instanceDataTable;

    function initializeDataTable() {
      if (dataTable) {
        dataTable.destroy();
      }
      dataTable = $('#sortableTable').DataTable({
        "paging": false,
        "info": false,
        "searching": true,
        "language": {
          "search": "Filter:"
        },
      });

      if (classificationDataTable) {
        classificationDataTable.destroy();
      }
      classificationDataTable = $('#classificationTable').DataTable({
        "paging": false,
        "info": false,
        "searching": false,
      });

      if (detectionDataTable) {
        detectionDataTable.destroy();
      }
      detectionDataTable = $('.detectionTable').DataTable({
        "paging": false,
        "info": false,
        "searching": false,
      })

      if (instanceDataTable) {
        instanceDataTable.destroy();
      }
      instanceDataTable = $('.instanceTable').DataTable({
        "paging": false,
        "info": false,
        "searching": false,
      })
    }

    document.addEventListener('DOMContentLoaded', () => {
      const customSelects = document.querySelectorAll('.custom-select-container');
      const form = document.querySelector('form');
      const loadingOverlay = document.getElementById('loading-overlay');
      const yAxisContainer = document.getElementById('y-axis-container');
      const xAxisContainer = document.getElementById('x-axis-container');

      const buttonConfigs = [
        {id: 'toggleOptions', containerId: 'optionsContainer', text: 'Plot Options'},
        {id: 'toggleClassification', containerId: 'classificationTableContainer', text: 'Classification Results'},
        {id: 'toggleDetection', containerId: 'detectionTableContainer', text: 'Detection Results'},
        {id: 'toggleInstance', containerId: 'instanceTableContainer', text: 'Instance Results'}
      ];

      function setupToggle(config) {
        const button = document.getElementById(config.id);
        const container = document.getElementById(config.containerId);
        const storageKey = config.containerId + 'Open';

        function toggleContainer(show) {
          container.classList.toggle('show', show);
          button.classList.toggle('active', show);
          button.style.borderBottom = show ? 'none' : '1px solid #000000';
          button.textContent = show ? 'Hide ' + config.text : config.text;
          localStorage.setItem(storageKey, show.toString());
        }

        toggleContainer(localStorage.getItem(storageKey) === 'true');

        button.addEventListener('click', () => {
          toggleContainer(!container.classList.contains('show'));
        });
      }

      buttonConfigs.forEach(setupToggle);

      function initializeSelect(select) {
        const header = select.querySelector('.custom-select-header');
        const options = select.querySelector('.custom-select-options');
        const selectedSpan = select.querySelector('.custom-select-selected');
        const hiddenInput = select.querySelector('input[type="hidden"]');

        if (hiddenInput.value) {
          const selectedOption = options.querySelector(`[data-value="${hiddenInput.value}"]`);
          if (selectedOption) {
            selectedSpan.textContent = selectedOption.textContent;
            selectedOption.classList.add('selected');
          }
        }

        header.addEventListener('click', () => {
          select.classList.toggle('open');
          options.style.display = select.classList.contains('open') ? 'block' : 'none';
        });

        options.querySelectorAll('.custom-select-option').forEach(option => {
          option.addEventListener('click', () => {
            hiddenInput.value = option.dataset.value;
            selectedSpan.textContent = option.textContent;
            options.querySelectorAll('.custom-select-option').forEach(opt => opt.classList.toggle('selected', opt === option));
            select.classList.remove('open');
            options.style.display = 'none';
            loadingOverlay.style.display = 'flex';
            localStorage.setItem('optionsContainerOpen', 'true');
            form.submit();
          });
        });
      }

      customSelects.forEach(initializeSelect);

      document.addEventListener('click', (event) => {
        if (!event.target.closest('.custom-select-container')) {
          customSelects.forEach(select => {
            select.classList.remove('open');
            select.querySelector('.custom-select-options').style.display = 'none';
          });
        }
      });

      const yOptions = yAxisContainer.children.length;
      const xOptions = xAxisContainer.children.length;
      const numOptions = Math.max(yOptions, xOptions);
      yAxisContainer.style.gridTemplateColumns = `repeat(${numOptions}, 1fr)`;
      xAxisContainer.style.gridTemplateColumns = `repeat(${numOptions}, 1fr)`;

      initializeDataTable();

    });
  </script>
</body>

</html>
