{% extends 'base.html' %}

{% load widget_tweaks %}
{% load custom_filters %}
{% load table_tag %}

{% block content %}
<header>
  <div class="container">
    <h1>{{ family.name }} Family</h1>
    <h2>
      <a href="{{ family.paper }}">Paper</a>
      |
      <a href="{{ family.github }}">GitHub</a>
    </h2>
  </div>
</header>

<main class="container">

  <div class="plot-container">
    {{ plot|safe }}
  </div>

  {% include "components/plot_options.html" %}

  {% if table %}
  {% render_table "sortableTable" table %}
  {% endif %}

  {% if classification_table %}
  <button class="drawer" id="toggleClassification">
    Classification Results
  </button>
  <div class="table-container drawerContents" id="classificationTableContainer">
    {% render_table "classificationTable" classification_table %}
  </div>
  {% endif %}

  {% if detection_tables %}
  <button class="drawer" id="toggleDetection">
    Object Detection Results
  </button>
  <div class="table-container drawerContents" id="detectionTableContainer">
    {% for detection_table in detection_tables %}
    <h3>{{ detection_table.name }}</h3>
    {% render_table "detectionTable" detection_table %}
    {% endfor %}
  </div>
  {% endif %}

  {% if instance_tables %}
  <button class="drawer" id="toggleInstance">
    Instance Segmentation Results
  </button>
  <div class="table-container drawerContents" id="instanceTableContainer">
    {% for instance_table in instance_tables %}
    <h3>{{ instance_table.name }}</h3>
    {% render_table "instanceTable" instance_table %}
    {% endfor %}
  </div>
  {% endif %}

</main>

{% endblock %}
