{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Heedless Backbones</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/plot.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
</head>

<body class="min-h-screen">
  <div id="loading-overlay">
    <div class="spinner"></div>
  </div>

  <header class="top-bar">
    <div class="container">
      <h1 class="site-title">
        <a class="site-title" href={% url "all" %}>Heedless Backbones</a>
      </h1>
      <nav class="main-nav">
        <ul>
          <li><a href={% url "families" %}>Backbones</a></li>
          <li><a href={% url "heads" %}>Heads</a></li>
          <li><a href={% url "datasets" %}>Datasets</a></li>
        </ul>
      </nav>
    </div>
  </header>

  {% block content %}
  {% endblock %}

  <footer>
    <div class="container">
      <p>2024 Heedless Backbones by Ian Myers</p>
    </div>
  </footer>

  <script>
    let dataTable, classificationDataTable, detectionDataTable, instanceDataTable, datasetTable, headTable, familyTable;

    function initializeDataTable() {
      const tables = [
        {selector: '.sortableTable', variable: 'dataTable', searching: true},
        {selector: '.classificationFamilyTable', variable: 'classificationDataTable', searching: false, order: [[2, "asc"], [1, "asc"], [3, "asc"]]},
        {selector: '.classificationDatasetTable', variable: 'classificationDataTable', searching: false, order: [[6, "desc"], [7, "desc"]]},
        {selector: '.detectionFamilyTable', variable: 'detectionDataTable', searching: false, order: [[2, "asc"], [1, "asc"], [4, "asc"], [3, "asc"]]},
        {selector: '.detectionDatasetTable', variable: 'detectionDataTable', searching: false, order: [[6, "desc"], [7, "desc"]]},
        {selector: '.detectionHeadTable', variable: 'detectionDataTable', searching: false, order: [[6, "desc"], [7, "desc"]]},
        {selector: '.instanceFamilyTable', variable: 'instanceDataTable', searching: false, order: [[2, "asc"], [1, "asc"], [4, "asc"], [3, "asc"]]},
        {selector: '.instanceDatasetTable', variable: 'instanceDataTable', searching: false, order: [[6, "desc"], [7, "desc"]]},
        {selector: '.instanceHeadTable', variable: 'instanceDataTable', searching: false, order: [[6, "desc"], [7, "desc"]]},
        {selector: '.semanticFamilyTable', variable: 'semanticDataTable', searching: false, order: [[2, "asc"], [1, "asc"], [4, "asc"], [3, "asc"]]},
        {selector: '.semanticDatasetTable', variable: 'semanticDataTable', searching: false, order: [[6, "desc"], [9, "desc"]]},
        {selector: '.semanticHeadTable', variable: 'semanticDataTable', searching: false, order: [[6, "desc"], [9, "desc"]]},
        {selector: '.DatasetTable', variable: 'datasetTable', searching: false, order: [[1, "desc"]]},
        {selector: '.HeadTable', variable: 'headTable', searching: false, order: [[1, "desc"]]},
        {selector: '.FamilyTable', variable: 'familyTable', searching: false, order: [[4, "desc"]]},
      ];

      tables.forEach(table => {
        const element = $(table.selector);
        if (element.length) {
          if (window[table.variable]) {
            window[table.variable].destroy();
          }
          let indexLastColumn = element.find('tr')[0].cells.length - 1;
          window[table.variable] = element.DataTable({
            "paging": false,
            "info": false,
            "searching": table.searching,
            "language": {
              "search": "Filter:"
            },
            "order": table.order ? table.order : [[indexLastColumn, 'desc']]
          });
        }
      });
    }

    document.addEventListener('DOMContentLoaded', () => {
      const customSelects = document.querySelectorAll('.custom-select-container');
      const form = document.querySelector('form');
      const loadingOverlay = document.getElementById('loading-overlay');
      const yAxisContainer = document.getElementById('y-axis-container');
      const xAxisContainer = document.getElementById('x-axis-container');

      const buttons = document.querySelectorAll('.drawer');

      buttons.forEach(button => {
        const containerId = button.dataset.container;
        const container = document.getElementById(containerId);
        const text = button.dataset.text;

        if (!container) {
          console.warn(`Container ${containerId} not found for button ${button.id}`);
          return;
        }

        const storageKey = containerId + 'Open';

        function toggleContainer(show) {
          container.classList.toggle('show', show);
          button.classList.toggle('active', show);
          button.style.borderBottom = show ? 'none' : '1px solid #000000';
          button.textContent = show ? 'Hide ' + text : text;
          localStorage.setItem(storageKey, show.toString());
        }

        const storedState = localStorage.getItem(storageKey);
        if (storedState !== null) {
          toggleContainer(storedState === 'true');
        }

        button.addEventListener('click', () => {
          toggleContainer(!container.classList.contains('show'));
        });
      });

      function initializeSelect(select) {
        const header = select.querySelector('.custom-select-header');
        const options = select.querySelector('.custom-select-options');
        const selectedSpan = select.querySelector('.custom-select-selected');
        const hiddenInput = select.querySelector('input[type="hidden"]');

        if (hiddenInput.value) {
          const selectedOption = options.querySelector(`[data-value="${hiddenInput.value}"]`);
          if (selectedOption) {
            selectedSpan.textContent = selectedOption.textContent;
            selectedOption.classList.add('selected');
          }
          else {
            hiddenInput.value = '';
          }
        }

        header.addEventListener('click', () => {
          select.classList.toggle('open');
          options.style.display = select.classList.contains('open') ? 'block' : 'none';
        });

        options.querySelectorAll('.custom-select-option').forEach(option => {
          option.addEventListener('click', () => {
            hiddenInput.value = option.dataset.value;
            selectedSpan.textContent = option.textContent;
            options.querySelectorAll('.custom-select-option').forEach(opt => opt.classList.toggle('selected', opt === option));
            select.classList.remove('open');
            options.style.display = 'none';
            if (loadingOverlay) {
              loadingOverlay.style.display = 'flex';
            }
            localStorage.setItem('optionsContainerOpen', 'true');
            form.submit();
          });
        });
      }

      customSelects.forEach(initializeSelect);

      document.addEventListener('click', (event) => {
        if (!event.target.closest('.custom-select-container')) {
          customSelects.forEach(select => {
            select.classList.remove('open');
            const options = select.querySelector('.custom-select-options');
            if (options) {
              options.style.display = 'none';
            }
          });
        }
      });

      if (yAxisContainer && xAxisContainer) {
        const yOptions = yAxisContainer.children.length;
        const xOptions = xAxisContainer.children.length;
        const numOptions = Math.max(yOptions, xOptions);
        yAxisContainer.style.gridTemplateColumns = `repeat(${numOptions}, 1fr)`;
        xAxisContainer.style.gridTemplateColumns = `repeat(${numOptions}, 1fr)`;
      }

      initializeDataTable();
    });
  </script>
</body>

</html>
