{% extends 'base.html' %}

{% load widget_tweaks %}
{% load custom_filters %}
{% load table_tag %}

{% block content %}


<main class="container">

  <header class="title-bar">
    <h1>{{ family.name }} Family</h1>
    <div class="links">
      <a href="{{ family.paper }}">Paper</a>
      |
      <a href="{{ family.github }}">GitHub</a>
    </div>
  </header>

  <div class="plot-container">
    {{ plot|safe }}
  </div>

  {% include "components/plot_options.html" %}

  {% if table %}
  {% render_table "sortableTable" table %}
  {% else %}
  <h2>No Results</h2>
  {% endif %}

  {% if classification_table %}
  <button class="drawer" id="toggleClassification" data-container="classificationTableContainer"
    data-text="Classification Results">
    Classification Results
  </button>
  <div class="table-container drawerContents" id="classificationTableContainer">
    {% render_table "classificationFamilyTable" classification_table %}
  </div>
  {% endif %}

  {% if detection_tables %}
  <button class="drawer" id="toggleDetection" data-container="detectionTableContainer"
    data-text="Object Detection Results">
    Object Detection Results
  </button>
  <div class="table-container drawerContents" id="detectionTableContainer">
    {% for detection_table in detection_tables %}
    <h3><a href="{% url "dataset" detection_table.name %}">{{ detection_table.name }}</a></h3>
    {% render_table "detectionFamilyTable" detection_table %}
    {% endfor %}
  </div>
  {% endif %}

  {% if instance_tables %}
  <button class="drawer" id="toggleInstance" data-container="instanceTableContainer"
    data-text="Instance Segmentation Results">
    Instance Segmentation Results
  </button>
  <div class="table-container drawerContents" id="instanceTableContainer">
    {% for instance_table in instance_tables %}
    <h3><a href="{% url "dataset" instance_table.name %}">{{ instance_table.name }}</a></h3>
    {% render_table "instanceFamilyTable" instance_table %}
    {% endfor %}
  </div>
  {% endif %}

  {% if semantic_tables %}
  <button class="drawer" id="toggleInstance" data-container="semanticTableContainer"
    data-text="Semantic Segmentation Results">
    Semantic Segmentation Results
  </button>
  <div class="table-container drawerContents" id="semanticTableContainer">
    {% for semantic_table in semantic_tables %}
    <h3><a href="{% url "dataset" semantic_table.name %}">{{ semantic_table.name }}</a></h3>
    {% render_table "semanticFamilyTable" semantic_table %}
    {% endfor %}
  </div>
  {% endif %}

</main>

{% endblock %}
